params.output_dir="./.default_output"
params.pipeline_info = "${params.output_dir}/pipeline_info"
params.valid_mode = "--nano-raw"
params.publish_dir_mode = 'copy' // default, can be overridden by command line

process {
    cpus   = { 1    * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }

    errorStrategy = { task.exitStatus in [143,137,104,134,139,101] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    // resourceLimits = [ memory: 8.GB, cpus: 4, time: 1.h ]
    resourceLimits = [ memory: params.max_memory, cpus: params.max_cpus, time: params.max_time ]

    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = {  4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
}

params {
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}


manifest {
  name = 'ayoraind/floria'
  author = 'Ayorinde Afolayan'
  homePage = 'https://github.com/ayoraind'
  description = 'Strain Resolution Using Floria'
  mainScript = 'main.nf'
  version = '1.0dev'
}

process {
    errorStrategy = { task.attempt <= 5 ? "retry" : "ignore" }
}
