process {
    publishDir = [
        path: { "${params.output_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAM_SORT_AND_INDEX {
        publishDir = [
            path: { "${params.output_dir}/sorted_bam" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: LONGSHOT {
        publishDir = [
            path: { "${params.output_dir}/longshot" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'FLORIA|COMBINE_CONTIG_PLOIDY_INFO' {
        publishDir = [
            path: { "${params.output_dir}/floria_out" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: HAPLOTAG_FLORIA_OUTPUT {
        publishDir = [
            path: { "${params.output_dir}/haplotag_out" },
            mode: params.publish_dir_mode,
        ]
    }

     withName: FLORIA_FLYE {
        publishDir = [
            path: { "${params.output_dir}/floria_flye" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: FLORIA_SAMTOOLS_FASTQ {
        publishDir = [
            path: { "${params.output_dir}/bamtofastq_floria" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: FLORIA_STRAINER {
        publishDir = [
            path: { "${params.output_dir}/floria_strainer_out" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: FLORIA_STRAINER_SAMTOOLS_FASTQ {
        publishDir = [
            path: { "${params.output_dir}/bamtofastq_floria_strainer" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: FLORIA_STRAINER_FLYE_READ1 {
        publishDir = [
            path: { "${params.output_dir}/floria_strainer_flye1" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: FLORIA_STRAINER_FLYE_READ2 {
        publishDir = [
            path: { "${params.output_dir}/floria_strainer_flye2" },
            mode: params.publish_dir_mode,
        ]
    }

}