wave {
    enabled = true
    strategy = ['conda']
}

conda {
    enabled = true
    channels = ['conda-forge', 'bioconda']
}

trace {
  enabled = true
  file = "${params.pipeline_info}/pipeline_stats.txt"
  overwrite = true
  fields =  "task_id,\
  hash,\
  process,\
  tag,\
  status,\
  exit,\
  start,\
  peak_rss,\
  cpus,\
  time,\
  disk,\
  memory,\
  duration,\
  realtime,\
  queue,\
  %cpu,\
  %mem,\
  rss,\
  vmem,\
  rchar,\
  wchar"

}

timeline {
  enabled = true
  overwrite = true
  file = "$params.pipeline_info/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.pipeline_info/execution_report.html"
}

dag {
  enabled = true
  file = "${params.pipeline_info}/pipeline_dag.png"
  overwrite = true
}     

// profiles
profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'normal'

            // customize
            clusterOptions = ''
        }
        executor {
            queueSize = 50
            submitRateLimit = 10 
        }
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        conda.enabled = false
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        conda.enabled = false
        docker.enabled = false
    }
}

includeConfig 'base.config'
includeConfig 'modules.config'
