profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
         withName: MINIMAP2_SAM{
               conda = "${baseDir}/conda_environment/minimap2_samtools.yml"
         }
         withName: SAM_SORT_AND_INDEX{
               conda = "${baseDir}/conda_environment/minimap2_samtools.yml"
         }
         withName: LONGSHOT{
               conda = "${baseDir}/conda_environment/longshot_environment.yml"
         }
	 withName: FLORIA{
               conda = "${baseDir}/conda_environment/floria.yml"
         }
         
   }

}

}
