profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
         withName: 'MINIMAP2_SAM|SAM_SORT_AND_INDEX|SAMTOOLS_FASTQ'{
               conda = "${baseDir}/conda_environment/minimap2_samtools.yml"
         }
         withName: LONGSHOT{
               conda = "${baseDir}/conda_environment/longshot_environment.yml"
         }
	 withName: FLORIA{
               conda = "${baseDir}/conda_environment/floria.yml"
         }
	 withName: FLORIA_STRAINER{
               conda = "${baseDir}/conda_environment/floria_strainer.yml"
         }
         
   }

}

}
